/* 
Colors used: 
Primary Color (White): #FEFEFE;
Secondary Color (Blue: #0D0D87
*/
header {
    background-color: #3a3a99;
    text-align: center;
    padding: 10px; /* inner space to all sides */
    margin: 10px 5px;  /* 10px to top and bottom & 5px to left and right */
    box-shadow: 0px 4px 4px #4a4a4a;
    position:relative;
}
 body {
    background-color: #fefefe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300;
    line-height: 1.6;
    color: black;
}
 h1, h2, h3, h4 {
    line-height: 1.4;
 }

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 500;
}

h4 {
    font-size: 1-35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #0D0D87;
    text-decoration: none; /* No underlining */
}
a:visited { /*visited link */
    color: #ffffff;
}
a:hover,
a:focus {
    color: #0D0D87;
    text-decoration: none; /* Underlining when hovering over a link */
}
a:active { /* selected link */
    color: #994c30
}
.button {
    display: inline-block;
    background-color: #0D0D87;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #121262;
    transition-duration: 0.2s;
    transition-property: opacity;
}
.button:hover {
    opacity: 0.8; /* reduces the opacity of the button to 80% */
    text-decoration: none;
     color: #ffffff ;
}
.button.contact {
    background-color: #0D0D87;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #0D0D87;
    transition-duration: 0.5s;
    transition-property: opacity;
}

.button.contact:hover {
    background-color: #0D0D87;
    color: #ffffff;
    opacity: 0.8; /* reduces the opacity of the button to 80% */

}

.button.project {
    background-color: transparent;
    color: #0D0D87;
    text-transform: none;
    border: 2px solid #0D0D87;
}
.button.project:hover {
    background-color: #0D0D87;
    color: #ffffff;
}

.plain-list {
    list-style: none;
}
.center-aligned-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 0 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    clear: both;
}
.aboutpage .row {
    max-width: 1000px;
    margin: 45px auto;
}

.work .row { 
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a; 
}

#hero h1 {
    text-align: center;
}

#hero p {
    font-size: larger;
    font-weight: 325;
    padding-bottom: 100px;
}

#hero {
    background-color: #ffffff;
    padding: 20px;
    display: inline-block;
    width: 100%;
}
.logo {
    max-width: 250px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
.Introduction {
    text-align: center;
}

.work {
    text-align: center;
    max-width: 1500px;
    margin: 10px auto;
}

.project-page .work {
    text-align: center;
    max-width: 700px;
    margin: 10px auto;
}

.work h2 {
    padding-bottom: 100px;
    text-transform: uppercase;
}
.work img {
    max-width: 700px;
    max-height: 700px;
}

[class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

#contact h2 {
    text-align: center;
}

#contact p {
    text-align: center;
}

#contact img {
    max-width: 30px;
    max-height: 30px;
}

#profile img {
    max-height: 600px;
    max-width: 400px;
}

#contact a {
    text-align: center;
}

#resume {
    text-align: center;
}

footer {
    text-align: center;
}

.wireframe img{
    max-width: 320px;
    max-height: 900px;
}

#animation {
    width: 100%;
max-width: 100%;
height: auto;
}
@keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

.berlin-illustration {
    min-width: 300px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
     header {
        text-align: unset;
        padding: 20px 0 13px;
     } 
    .col-md-6 {
        width: 50%;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px ;
    } 
    #work .row { 
        min-height: 400px;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {


}